<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="x-icon" href="https://raw.githubusercontent.com/YsraelBaruk/imgsTCC/master/icon/dente-30.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <link rel="stylesheet" href="../public/css/login/style.css">


    <script type="text/javascript" src="https://npmcdn.com/parse/dist/parse.min.js"></script>
    
    <title>Dental Clinic</title>
</head>
<body>   
    <main id="container">
        <form id="login_form" class="" autocomplete="off">
            <div id="form_header">
                <h1>Cadastre-se <img src="../public/images/icon/dente-30.png" alt="logo home"></h1><i id="mode_icon" class="fa-solid fa-moon"></i>
            </div>
            <!-- INPUTS -->
            <div id="inputs">
                <!-- NAME -->
                <div class="input-box">
                    <label for="username"> Username <div class="input-field"><i class="fa-solid fa-user"></i> <input type="text" id="username" placeholder="Username" name="username" > </div> </label>
                    <div class="error-message" id="register-username-error"></div>
                </div>
                <!-- <div class="input-box">
                    <label for="inputName"> Nome <div class="input-field"><i class="fa-solid fa-user"></i> <input type="text" id="name" placeholder="Nome" name="inputName"> </div> </label>
                </div> -->
                <!-- EMAIL -->
                <div class="input-box">
                    <label for="email"> Email <div class="input-field"> <i class="fa-solid fa-envelope"></i> <input type="email" id="email" placeholder="Email" name="email" > </div> </label>
                    <div class="error-message" id="register-email-error"></div>
                </div>
                <!-- PASSWORD -->
                <div class="input-box">
                    <label for="password"> Password <div class="input-field"> <i class="fa-solid fa-key"></i> <input type="password" id="password" placeholder="Senha" name="password"> </div> </label>
                    <div class="error-message" id="register-password-error"></div>
                    <!-- <label for="image">
                        <div class="input-box">
                            Imagem
                            <i class="fa-solid fa-image"></i> <input type="file" id="img_profile" name="imagem"/>
                        </div>
                    </label> -->
                </div>

                <div class="input-box">
                    <label for="telefone">Telefone <div class="input-box"> <div class="input-field"> <i class="fa-solid fa-phone"></i> <input id="telefone" name="telefone" placeholder="Telefone" type="tel"> </div> </div> </label>
                    <div class="error-message" id="register-telefone-error"></div>
                </div>
                <!-- <div class="input-box">
                    <label for="funcao"> <div class="input-box"> Função <div class="input-field"> <i class="fa-solid fa-wallet"></i> <input id="funcao" name="funcao" type="text" placeholder="Cliente/Dentista"> </div> </div> </label>
                    <div id="forgot_password"> <a href="./login.html"> Login </a> </div>
                </div> -->

                <div class="input-group mb-3">
                    <select class="custom-select" id="inputGroupSelect02">
                      <option selected>Selecione</option>
                      <option id="funcao" value="1">Cliente</option>
                      <option id="funcao" value="2">Dentista</option>
                    </select>
                </div>
                
            </div>
            <!-- LOGIN BUTTON -->
            <button class="loginBtn" id="register_button">Cadastrar</button>
            <div class="error-message" id="register-error"></div>
            <div id="forgot_password">Você já tem uma conta? <a href="./login.html"> Login </a> </div>
        </form>
    </main>

    <!-- <script  type="text/javascript" src="../public/js/script.js"></script> -->
    <script  type="text/javascript" src="../public/js/login/icon.js"></script>
    <script  type="text/javascript" src="../key.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="../classs/user.js"></script>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>